<div class="flex flex-row w-full justify-center mt-10 gap-5">
  <span class="loading loading-ring loading-lg"></span>
  <span class="loading loading-ring loading-lg"></span>
  <span class="loading loading-ring loading-lg"></span>
</div>