---
import Layout from '../layouts/Layout.astro';

import Hero from "../components/LandingPage/Hero.astro"
import ElementProduct from '../components/LandingPage/ElementProduct.astro';
import Loading from '../components/LandingPage/Loading.astro';
---

<Layout title="Mira los plots del mundo - WorldPlot">
	<main class="mb-28">
		<Hero/>
		<ElementProduct/>
		<Loading/>
	</main>
</Layout>