<footer class="footer bg-neutral flex flex-col items-center p-10">
  <p class="inline text-slate-300 text-lg">Creado con ❤️ por <a target="_blank" href="https://github.com/techatlasdev" class="font-semibold inline">TechAtlasDev</a></p>
</footer>