<div class="navbar">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">WorldPlot</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/ploting" class="btn btn-primary">Sube un plot</a></li>
      </li>
    </ul>
  </div>
</div>